{% extends '@App/base.html.twig' %}

{% block content %}

    <div class="col-lg-8 map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac3da2039695367d232442a43a3be2cf0f91eae6e6a113fdea6c1124549e8ff42&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="col-lg-4 contacts-info">
        {{ info|nl2br }}
    </div>
{%  endblock %}