<div class="row product">
    <div class="col-sm-5 ">
        <img src="{{ asset('images/perforator.jpg') }}" alt="perforator">
    </div>

    <div class="col-sm-5">
        <h2>{{ product.name }}</h2>
        <h4>{{ product.description }}</h4>
        <span class="price">{{ product.price }}$</span>
    </div>
    <div class="col-sm-2"></div>
</div>

