body {
    font-family: 'Rubik', Verdana sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    min-width: 460px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 115px;
    color: #2C3E50;
}

header {
    font-family: 'Philosopher', Verdana sans-serif;
    background-color: #ffce13;
    color: white;
    font-weight: bold;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1580px;
    margin:auto;
}

@media only screen and (max-width: 1580px) {
    .wrapper {
        max-width: 1330px;
    }
}

@media only screen and (max-width: 1330px) {
    .wrapper {
        max-width: 1150px;
    }
}

@media only screen and (max-width: 1030px) {
    .wrapper {
        max-width: 780px;
    }
}

.logo {
    margin: 15px 0;
    text-align: center;
}

.logo img {
    background-color: #fff;
    padding: 5px 30px;
    border-radius: 12px;
}

@media only screen and (max-width: 460px) {

}

.about {
    margin: 5px 0 15px 0;
    text-align: center;
}

.contacts {
    font-size: 18px;
    margin: 15px 0;
    line-height: 2em;
}

.contacts .fa {
    margin: 0 8px;
}

/* ================================================ CONTENT ================================== */

.menu {
    float: left;
    width: 250px;
    margin-right: 25px;
}

.clear {
    clear: both;
}

.nav-type {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 30px auto 0 auto;
    font-weight: bold;
    font-size: 18px;
}

.nav-type a {
    display: block;
    float: left;
    width: 110px;
    border-top: 1px solid #ffce13;
    border-bottom: 1px solid #ffce13;
    color: #2C3E50!important;
    padding: 10px 13px;
    transition: all 0.1s ease;
    text-decoration: none;
}

.nav-type .first{
    border: 1px solid #ffce13;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
}

.nav-type .last{
    border: 1px solid #ffce13;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
}

.nav-type .active-type {
    background-color: #ffce13;
}

.nav-type .active-type, .nav-type a:hover{
    color: white!important;
    text-decoration: none!important;
}

.nav-type a:hover {
    background-color: #ffce13;
    transform: scale(1.07);
}

.category-nav {
    display: block;
    font: 20px 'Philosopher';
    text-align: left;
    border: 1px solid #ECF0F1;
    border-radius: 5px;
}

.category-header {
    display: block;
    background-color: #2980B9;
    color: white;
    padding: 12px 18px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .category-header {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .category-nav {
        display: none;
    }
}

.category-nav .category{
    color: #2C3E50;
    padding: 12px 18px;
    display: block;
    border-bottom: 1px solid #ECF0F1;
    text-decoration: none;
}

.category-nav .category:hover{
    background-color: #ffce13;
    color: white;
}

.category-nav .category:focus{
    color: white;
    text-decoration: none;
}

.category-nav .category:last-child{
    border-bottom: none;
}

.active-category {
    background-color: #ffce13;
    color: white!important;
}

.toggle-category {
    text-align: center;
    background-color: #34495E;
    border-radius: 15px;
    padding: 4px;
    margin: 5px 0;
    display: block;
    color: white;
    text-decoration: none;
}

.toggle-category:focus {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 600px) {
    .toggle-category {
        display: none;
    }
}

/* ================================ PRODUCT ============================== */

.products-wrapper {
    float: left;
    width: 1215px;
}

@media only screen and (max-width: 1580px) {
    .products-wrapper {
        width: 995px;
    }
}

@media only screen and (max-width: 1330px) {
    .products-wrapper {
        width: 720px;
    }
}

@media only screen and (max-width: 1030px) {
    .products-wrapper {
        width: 445px;
    }
}

.product-wrapper {
    display: block;
    float:left;
    width: 250px;
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: #BDC3C7 1px 1px 7px 1px;
    transition: all 0.15s ease;
    text-decoration: none;
    color: #343434;
}

.product-wrapper:hover {
    transform: scale(1.03);
    box-shadow: #BDC3C7 1px 1px 7px 2px;
    text-decoration: none;
    color: #343434;
}

.product-wrapper .description {
    height: 60px;
}

.product-wrapper .name {
    height: 66px;
}

.main-content {
    padding:0 30px;
}

.product {
    border-radius: 5px;
    margin: 20px 50px;
    background-color: white;
    padding: 20px;
    border-top: 1px solid #ECF0F1;
    border-bottom: 1px solid #ECF0F1;
}

.product img {
    border-radius: 3px;
    padding: 35px;
    box-shadow: #ECF0F1 0 0 5px 1px;
}

.loader {
    margin:auto;
    margin-top: 70px;
    display: block;
    width: 64px;
}

.product-img {
    height: 150px;
    width: 220px;
    text-align: center;
}

.product-img img {
    max-height: 100%;
    max-width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    font-family: 'Philosopher', Verdana sans-serif;
    background-color: #ffce13;
    color: white;
    font-weight: bold;
    height: 100px;
    width: 100%;
}

.footer {
    padding: 25px 25px 0 25px;
    font-size: 20px;
}

/** ======================= PRELOADER ===================================== */

.preloader-wrapper {
    margin-top: 100px;
    padding-left: 35%;
}

.cssload-container {
    width: 100%;
    height: 94px;
    text-align: center;
}

.cssload-speeding-wheel {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    border: 6px solid rgb(44,62,80);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 1100ms infinite linear;
    -o-animation: cssload-spin 1100ms infinite linear;
    -ms-animation: cssload-spin 1100ms infinite linear;
    -webkit-animation: cssload-spin 1100ms infinite linear;
    -moz-animation: cssload-spin 1100ms infinite linear;
}



@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}