@font-face {
    font-family: 'Philosopher';
    src:
        url('Philosopher-Regular.ttf'),
        url('Philosopher-Regular.woff') format('woff'),
        url('Philosopher-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src:
        url('Rubik-Regular.ttf'),
        url('Rubik-Regular.woff') format('woff'),
        url('Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}